<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="module" src="../controllers/products.js"></script>

</head>
<body>
    <h1>Editar Producto</h1>
    <form id="formEdit">

        <label for="nombre">
            <input type="text" name="nombre" id="nombre">
        </label>
        <label for="descripcion">
            Nombre
            <input type="text" name="descripcion" id="descripcion">
        </label>
        <label for="precio">
            Precio
            <input type="text" name="precio" id="precio">
        </label>

        <label for="cantidadEnStock">
            Stock
            <input type="text" name="cantidadEnStock" id="cantidadEnStock">
        </label>

        <button type="submit">Editar</button>

    </form>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>